<ion-view title="Login" hide-nav-bar="true" id="pageLogin" class="loginForm">
  <ion-content padding="" class="contentBox">
    <div class="imglogo" id="">
      <img src="img/ionic.png" alt="">
    </div>
    <div class="appName" id="">
      <h1 class="appNameh1">Nutrifun</h1>
    </div>
    <div class="list" style="padding-left: 30px; padding-right: 30px;">
      <label class="itemTrans item-input">
        <i class="icon ion-ios-person-outline placeholder-icon"></i>
        <input class="inputLogin" type="text" placeholder="Usuario" ng-model="user.username">
      </label>
      <label class="itemTrans item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input class="inputLogin" type="password" placeholder="Contrasena" ng-model="user.password">
      </label>
    </div>
    <div class="loginButtonContainer" style="padding-left: 30px; padding-right: 30px; margin-bottom:20px; margin-top:30px;">
      <button class="button button-block button-energized buttonlogin" ng-click="login()">
        Iniciar Sesion
      </button>
    </div>
    <div class="loginButtonContainer" style="padding-left: 30px; padding-right: 30px;">
      <button class="button button-block button-outline button-energized buttonlogin" ng-click="register()">
        Registrarme
      </button>
    </div>
    <div class="recoverPasswordContainer">
        <h3 class="recoverPasswordText">¿Olvide mi contraseña?</h3>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-clear">
    <h5 class="title">Aplicacion desarrollada por APPStions</h5>
  </div>
</ion-view>
