<ion-view title="register" hide-nav-bar="true" id="register" class="registerForm">
  <ion-content padding="" class="contentBox">
    <div class="">
      <button ng-click="goBack()" class="button button-clear button-light icon ion-chevron-left">Atras</button>
    </div>
    <div class="registerLogoContainer">
      <img src="img/ionic.png" alt="">
    </div>
    <div class="list" style="padding: 30px;">
      <label class="itemTrans item-input">
        <i class="icon ion-ios-person-outline placeholder-icon"></i>
        <input  class="inputLogin" type="text" placeholder="Usuario" ng-model="user.username">
      </label>
      <label class="itemTrans item-input">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input class="inputLogin"  type="text" placeholder="Nombre" ng-model="user.name">
      </label>
      <label class="itemTrans item-input">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input  class="inputLogin" type="text" placeholder="Apellidos" ng-model="user.lastname">
      </label>
      <label class="itemTrans item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input  class="inputLogin" type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="itemTrans item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input  class="inputLogin" type="password" placeholder="Contrasena" ng-model="user.password">
      </label>
    </div>
    <div class="loginButtonContainer" style="padding-left: 30px; padding-right: 30px;">
      <button class="button button-block button-energized buttonlogin" ng-click="register()">
        Crear Cuenta
      </button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-clear">
    <h5 class="title">Aplicacion desarrollada por APPStions</h5>
  </div>
</ion-view>
