<ion-view view-title="Home">
  <div class="bar bar-positive bar-header">
    <!-- <button class="button button-clear icon ion-ios-search-strong"></button> -->
    <h1 class="title bartitle">Nutrifun</h1>
    <div hidden="hidden" class="list" id="options" style="position: absolute; right: 5px; top:7px;">
      <div class="item item-divider" ng-click="showOptions()">
        Opciones
      </div>
      <a class="item" ng-click="options()" style="color: black;padding: 10px;border: 0px;">
        Perfil
      </a>
      <a class="item" ng-click="logout()" style="color: black;padding: 10px;border: 0px;" >
        Cerrar Sesion
      </a>
      </div>
    <button ng-click="showOptions()" class="button button-clear icon ion-android-more-vertical" style="position:absolute; right:5px;"></button>
  </div>
  <ion-content class="padding has-header">
    <ion-list can-swipe="listCanSwipe" ng-init="getRecipes()">

      <div id="noRecipes" class="card animated fadeInDownBig">
        <div class="item item-text-wrap">
          Recetas no agregadas :( - Pulsa el boton de agregar :)
        </div>
      </div>

      <div class="eachItem animated bounceIn" ng-repeat="recipe in recipes" >
        <ion-item class="list" style="background-color:#f5f5f5;">
            <div class="row">
              <div class="col col-20 centerContent">
                <i class="icon ion-fork" style="font-size: 50px;"></i>
                <i class="icon ion-knife" style="font-size: 50px;"></i>
              </div>
              <div class="col centerContent">
                <div class="row">
                  {{recipe.name}}
                </div>
                <div class="row" style="color: rgb(169, 169, 169);">
                  {{recipe.name}}
                </div>
              </div>
              <div class="col col-20 centerContent"  style="position: fixed; right: 4%;">
                <button id="btnPri"
                style="font-size: 45px;" class="button button-assertive button-clear icon ion-chevron-left"></button>
              </div>
            </div>
          <ion-option-button style="font-size:30px;" class="button-positive icon icon-light ion-edit" ng-click="editRecipe(recipe.idRecipe)"></ion-option-button>
          <ion-option-button style="font-size:30px;" class="button-assertive icon icon-light ion-trash-b" ng-click="deleteRecipe(recipe.idRecipe)"></ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" style="margin-top:-22px;">
          {{recipe.description}}
        </div>
      </div>
    </ion-list>
  </ion-content>
  <div class="float-button">
   <span class="height-fix">
     <button id="fab-profile" ng-click="addRecipe()" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane"
     nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px); border-radius: 100%;
     -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     font-size: 30px;">
       <i class="icon ion-plus"></i>
     </button>
   </span>
 </div>
</ion-view>
