<ion-view view-title="Dashboard">
  <div class="bar bar-positive bar-header">
    <!-- <button class="button button-clear icon ion-ios-search-strong"></button> -->
    <h1 class="title bartitle">Nutrifun</h1>
    <div class="list" id="options" style="position: absolute; right: 5px; top:7px;">
      <div class="item item-divider" ng-click="showOptions()">
        Opciones
      </div>
      <a class="item" ng-click="options()" style="color: black;padding: 10px;border: 0px;">
        Perfil
      </a>
      <a class="item" ng-click="logout()" style="color: black;padding: 10px;border: 0px;" >
        Cerrar Sesion
      </a>
      </div>
    <button ng-click="showOptions()" class="button button-clear icon ion-android-more-vertical" style="position:absolute; right:5px;"></button>
  </div>
  <ion-content class="padding has-header">
    <h1>home_page</h1>
  </ion-content>
  <div class="float-button">
   <span class="height-fix">
     <button id="fab-profile" ng-click="addRecipe()" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane"
     nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px); border-radius: 100%;
     -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);">
       <i class="icon ion-plus"></i>
     </button>
   </span>
 </div>
</ion-view>
