<ion-view view-title="Dashboard">
  <div class="bar bar-positive bar-header">
    <!-- <button class="button button-clear icon ion-ios-search-strong"></button> -->
    <h1 class="title bartitle">Nutrifun</h1>
    <div class="list" id="options" style="position: absolute; right: 5px; top:7px;">
      <div class="item item-divider" ng-click="showOptions()">
        Opciones
      </div>
      <a class="item" ng-click="options()" style="color: black;padding: 10px;border: 0px;">
        Perfil
      </a>
      <a class="item" ng-click="logout()" style="color: black;padding: 10px;border: 0px;" >
        Cerrar Sesion
      </a>
      </div>
    <button ng-click="showOptions()" class="button button-clear icon ion-android-more-vertical" style="position:absolute; right:5px;"></button>
  </div>
  <ion-content class="padding has-header">

    <ion-list can-swipe="listCanSwipe">
      <div class="eachItem">
        <ion-item class="list" style="background-color:#f5f5f5;">
            <div class="row">
              <div class="col col-20 centerContent">
                <i class="icon ion-fork" style="font-size: 50px;"></i>
                <i class="icon ion-knife" style="font-size: 50px;"></i>
              </div>
              <div class="col centerContent">
                <div class="row">
                  Arroz con pollo
                </div>
                <div class="row" style="color: rgb(169, 169, 169);">
                  12/08/2016
                </div>
              </div>
              <div class="col col-20 centerContent"  style="position: fixed; right: 4%;">
                <button id="btnPri" ng-click="showEditOptions()"
                style="font-size: 45px;" class="button button-assertive button-clear icon ion-chevron-left"></button>
              </div>
            </div>
          <ion-option-button style="font-size:30px;" class="button-positive icon icon-light ion-edit" ng-click="editRecipe()"></ion-option-button>
          <ion-option-button style="font-size:30px;" class="button-assertive icon icon-light ion-trash-b" ng-click="deleteRecipe()"></ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" style="margin-top:-22px;">
          Esta receta tiene descripcion de poder seguir adelante, logralo.
        </div>
      </div>
    </ion-list>

    <!-- <div class="card">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-20 centerContent">
            <i class="icon ion-fork" style="font-size: 50px;"></i>
            <i class="icon ion-knife" style="font-size: 50px;"></i>
          </div>
          <div class="col centerContent">
            <div class="row">
              Arroz con pollo
            </div>
            <div class="row" style="color: rgb(169, 169, 169);">
              12/08/2016
            </div>
          </div>
          <div class="col col-20 centerContent">
            <button id="btnPri" ng-click="showEditOptions()"
            style="font-size: 45px;" class="button button-assertive button-clear icon ion-grid"></button> -->
            <!-- <button ng-click="showEditOptions()"
            id="btnAlt" style="font-size: 45px;" class="button button-assertive icon ion-grid"></button> -->
          <!-- </div>
        </div>
      </div> -->
      <!-- <div ng-click="editRecipe()" id="optionEdit" class="item-divider centerContent animated fadeIn" style="background-color:#162e42; color: white;">
        Editar
      </div>
      <div ng-click="deleteRecipe()" id="optionDelete" class="item-divider centerContent animated fadeIn" style="background-color:#ef473a; color: white;" >
        Eliminar
      </div> -->
      <!-- <div class="item item-text-wrap">
        Esta receta tiene descripcion de poder seguir adelante, logralo.
      </div>
    </div> -->


  </ion-content>
  <div class="float-button">
   <span class="height-fix">
     <button id="fab-profile" ng-click="addRecipe()" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane"
     nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px); border-radius: 100%;
     -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
     font-size: 30px;">
       <i class="icon ion-plus"></i>
     </button>
   </span>
 </div>
</ion-view>
