/* Empty. Add your own CSS if you like */
/*fontface*/
@font-face {
    font-family: avenirNextUltraLight;
    src: url(fonts/avenirNext/AvenirNextLTPro-UltLtCn.otf);
    font-weight: bold;
}

/*login*/
.contentBox{
  background-image: url("../img/background.jpg");
}

.imglogo{
  margin-top: 30px;
  text-align: center;
  color: white;
}

.imglogo img{
  height: 80px;
  width: 80px;
}

.appName{
  margin-top: 5px;
  text-align: center;
  color: white;
}

.appNameh1{
  color: white;
  font-size: 70px;
  font-family: avenirNextUltraLight;
}

.loginButtonContainer{
  margin-top: 10px;
  text-align: center;
}

.inputLogin{
  background-color: transparent;
  color: white;
}

.buttonlogin{
  color: white;
  font-size: 26px;
  font-family: avenirNextUltraLight;
}

.recoverPasswordContainer{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: right;
  margin-right: 20px;
  color: white;
}

.recoverPasswordText{
  color: white;
  font-family: avenirNextUltraLight;
}

.footerText{
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}
/*register_page*/
.registerLogoContainer{
  text-align: center;
  margin-bottom: -30px;
  font-size: 90px;
}

.registerLogoContainer img{
  height: 80px;
  width: 80px;
}

.registerLogoContainer h1{
  color: white;
}
/*homepage*/

.centerContent{
  text-align: center;
}
.bartitle{
  font-family: avenirNextUltraLight;
  font-size: 32px;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 100%;
  width: 30px;
  /* padding: 30px; */
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 9999;
}

.float-button .height_fix {
 margin-top: 100%;
}

.float-button .content {
 position: absolute;
 left: 0;
 top: 50%;
 height: 100%;
 width: 100%;
 text-align: center;
 margin-top: -20px; /* Note, this must be half the font size */
 color: $light;
}

.eachItem{
  opacity: 1;
  transform: translate3d(0%, 0px, 0px);
  border-radius: 0%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.20);
  font-size: 30px;
  margin-bottom: 10px;
}

/*accountpage*/
.imgContainer{
  width: 100%;
  height: 22.5%;
  background-color: yellow;
  padding: 0px;
  background-image: url("../img/background.jpg");
}

.accountLogo{
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 10.5%;
}

.inputAccount{
  background-color: transparent;
  color: #162e42;
}
